<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Daxv 测试</title>

</head>
<body>



<h1>启动爬虫</h1>
<button id="search" type="submit" class="btn btn-primary btn-sm">开始爬取数据</button>


<div id="App">
</div>
<img src="/jhome/images/111.png">
</body>
<script type="text/javascript" src="/jhome/script/jquery.min.js"></script>
<script src="https://cdn.staticfile.org/vue/2.4.2/vue.min.js"></script>
<script src="https://cdn.staticfile.org/vue-resource/1.5.1/vue-resource.min.js"></script>
<script type="text/javascript">
	$(function(){

		$("#search").on("click",function(){
			$.post("${ctx}/ymx/trackOrders/spiderApi",{name:"欢迎"},function(data){
				alert(data);
			},"JSON");
		});

		//判断当前浏览器是否支持WebSocket

		new Vue({
			el : "#App",
			data : {
				message : "123123"
			},
			created : function() {
				this.initWebSocket();
			},
			data : function() {
				return {
					websocket : null
				}
			},
			destroyed : function() {
				this.websock.close(); // 离开路由之后断开websocket连接
			},
			methods : {
				//在方法里调用 this.websocketsend()发送数据给服务器
				onConfirm : function() {
					//需要传输的数据
					let data = {
						code : 1,
						item : "传输的数据"
					};
					//this.websocketsend(JSON.stringify(data))
					this.websocketsend("sadfasdfasdf")
				},
				/*
				 */
				initWebSocket : function() { // 初始化weosocket
					//let	username = "daxu";
					//let	baseURL = document.location.host;

					this.websock = new WebSocket('ws://' + document.location.host	+ '/webSocket');
					//this.websock = new WebSocket('ws://' + 'localhost:8980'	+ '/webSocket');
					this.websock.onmessage = this.websocketonmessage;
					this.websock.onerror = this.websocketonerror;
					this.websock.onopen = this.websocketonopen;
					this.websock.onclose = this.websocketclose;
				},
				websocketonopen : function() { // 连接建立之后执行send方法发送数据
					let data = {
						code : 0,
						msg : "这是client：初次连接"
					};
					this.websocketsend(JSON.stringify(data));
				},
				websocketonerror : function() {
					console.log("WebSocket连接失败");
				},
				websocketonmessage : function(e) { // 数据接收
					console.log("数据接收" + e.data);
					this.message = e.data;
				},
				websocketsend : function(Data) { // 数据发送
					this.websock.send(Data);
				},
				websocketclose : function(e) { // 关闭
					console.log("已关闭连接", e);
				}
			}

		});



	})
</script>

</html>
