<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
</head>
<body>
<div id="loging">
    <div style="width: 300px; margin: 0 auto; padding-top: 100px;">
        <table>
            <tr>
                <td>用户名：<input v-model="account"></input>
                </td>
            </tr>
            <tr>
                <td>密码：<input v-model="password"></input>
                </td>
            </tr>
        </table>
        <button id="btn" @click="Landing">登陆</button>
        |
        <button @click="registered">注册</button>
    </div>
    <img src="/jhome/images/loading.gif">
    <img src="/jhome/images/111.png">
</div>


<script type="text/javascript" src="/jhome/script/jquery.min.js"></script>
<script type="text/javascript">


    $(function () {
        $("#btn").on("click", function () {

            $.ajax({
                type: "POST",
                contentType: "application/json;charset=UTF-8",
                url: "/jhome/account/login",
                data: JSON.stringify({account: "daxu", password: "123123123"}),
                dataType: 'json',
                success: function (result) {
                    if (result.code == 1) {
                        alert("成功");
                        window.location.href="/jhome/account/main";
                    } else {
                        alert("失败");
                    }
                }
            });
        });


    })

    //
    // new Vue({
    //     el : '#loging',
    //     data : {
    //         account : "",
    //         password : ""
    //     },
    //     methods : {
    //         Landing : function() {
    //             this.$http.post('/jhome/a/sys/login', {
    //                 account : encodeURIComponent(this.account),
    //                 password : this.password
    //             }, {
    //                 emulateJSON : true
    //             }).then(function(data) {
    //                 var data = data.body;
    //                 if (data.code == 1) {
    //
    //                     //window.location.href = "/WebUIByH/start.htm";
    //                 } else {
    //                     alert("登陆失败~");
    //                     return false;
    //                 }
    //
    //             })
    //         },
    //         registered : function() {
    //             if (this.account == "") {
    //                 alert("账户名不能为空");
    //                 return false;
    //             }
    //             if (this.password == "") {
    //                 alert("密码不能为空");
    //                 return false;
    //             }
    //
    //             this.$http.post('/WebUIByH/User/register.htm', {
    //                 account : encodeURIComponent(this.account),
    //                 password : this.password
    //             }, {
    //                 emulateJSON : true
    //             }).then(function(data) {
    //                 var data = data.body;
    //                 alert(data.msg);
    //             }, function(data) {
    //             })
    //         },
    //
    //     }
    // });
</script>
</body>
</html>