<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fileStore.modules.fileManagement.dao.FsFileDirectoryMapper">

        <resultMap id="BaseResultMap" type="com.fileStore.modules.fileManagement.model.bo.FsFileDirectory">
                    <id column="id" property="id"/>
                    <result column="fileDirectoryName" property="fileDirectoryName"/>
                    <result column="parentDirectoryId" property="parentDirectoryId"/>
                    <result column="createTime" property="createTime"/>
                    <result column="createBy" property="createBy"/>
                    <result column="updateTime" property="updateTime"/>
                    <result column="updateBy" property="updateBy"/>
                    <result column="isDelete" property="isDelete"/>
                    <result column="tenantId" property="tenantId"/>
        </resultMap>

        <sql id="commonSql">
         `id`
            ,
         `fileDirectoryName`
            ,
         `parentDirectoryId`
            ,
         `createTime`
            ,
         `createBy`
            ,
         `updateTime`
            ,
         `updateBy`
            ,
         `isDelete`
            ,
         `tenantId`

    </sql>

    <!-- 分页查询 -->
    <select id="selectFsFileDirectoryPageList" resultMap="BaseResultMap" parameterType="com.fileStore.modules.fileManagement.model.query.FsFileDirectoryQuery">
        Select
             <include refid="commonSql"></include>
        From fs_file_directory
        <trim prefix="where" prefixOverrides="and|or">
            AND 1=1
        </trim>
    </select>

</mapper>